body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px 20px; /* Reduced padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 5px; /* Reduced margin */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
    display: block;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 5px; /* Reduced padding */
    border-radius: 5px;
}

.dropdown li {
    margin: 3px 0; /* Adjusted margin */
}

.dropdown a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 14px; /* Reduced font size */
}

.dropdown a:hover {
    background-color: #555;
}

/* Show dropdown on hover */
.dropdown-item:hover .dropdown {
    display: block;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

section {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gallery img {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.video-container {
    text-align: center;
}

.video-container video {
    width: 70%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.carousel {
    width: 120%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    flex: 0 0 80%; /* Adjusted width to 80% */
    margin-right: 10px;
}
